apiVersion: v1
kind: ServiceAccount
metadata:
  name: mysql
  namespace: bookwarehouse # HACK: Bypass TCPRoute requirement, remove me when OSM works!
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: bookwarehouse # HACK: Bypass TCPRoute requirement, remove me when OSM works!
spec:
  ports:
  - port: 3306
    targetPort: 3306
    name: client
    appProtocol: tcp
  selector:
    app: mysql
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: bookwarehouse # HACK: Bypass TCPRoute requirement, remove me when OSM works!
spec:
  serviceName: mysql
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
        marblerun/marbletype: edgelessdb
        marblerun/marblecontainer: edgelessdb
    spec:
      serviceAccountName: mysql
      nodeSelector:
        kubernetes.io/os: linux
      containers:
      - image: ghcr.io/edgelesssys/edgelessdb-sgx-4gb # TODO: Switch to 1 GB?
        imagePullPolicy: IfNotPresent
        name: mysql
        env:
        - name: EDG_MARBLE_TYPE
          value: "edgelessdb"
        - name: EDG_MARBLE_COORDINATOR_ADDR
          value: "coordinator-mesh-api.marblerun:2001"
        args: ["-marble"]
        ports:
          - containerPort: 3306
            name: mysql
        volumeMounts:
          - mountPath: /mysql-data
            name: data
        readinessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 15
          periodSeconds: 10
      volumes:
        - name: data
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 250M
---
kind: TrafficTarget
apiVersion: access.smi-spec.io/v1alpha3
metadata:
  name: mysql
  namespace: bookwarehouse
spec:
  destination:
    kind: ServiceAccount
    name: mysql
    namespace: bookwarehouse
  rules:
  - kind: TCPRoute
    name: tcp-route
  sources:
  - kind: ServiceAccount
    name: bookwarehouse
    namespace: bookwarehouse
---
apiVersion: specs.smi-spec.io/v1alpha4
kind: TCPRoute
metadata:
  name: tcp-route
  namespace: bookwarehouse
spec:
  matches:
    ports:
    - 3306
